.logo-container{
  display: flex;
  justify-content: center;
  margin: 15px;
  margin-bottom: 50px;

  img {
    width: 100px;
    border: 2px solid;
    border-radius: 5px;
  }
}



.example-container {
  height: 100vh;
  background-color: rgb(237, 237, 235);
}


.menu-icon {
  padding-right: 16px;
}


.pointer {
  cursor: pointer;
}


.sidenav {
  width: 200px;
  background-color: rgb(56, 70, 52);
  color: #1e8c10ee;
  text-shadow: 0px 0.3px 0px rgb(9, 73, 15);
  font-weight: 500;
}



.mb-16 {
  margin-bottom: 16px;
}


.mat-toolbar-row, .mat-toolbar {
  min-height: 80px;
  height: 80px;
  background-color: rgb(47, 53, 47);
  color: #1e8c10ee;
  font-weight: 500;
  text-shadow: 0.9px 0px 0px rgb(4, 140, 15);
}


  


.menu-items {
  padding-left: 0;
  margin: 0;

  li {
      padding-left: 16px;
      padding-right: 16px;
      height: 50px;
      display: flex;
      align-items: center;
      border-bottom: 5px double  rgba(47, 53, 47, 0.385);
      cursor: pointer;

      mat-icon {
          margin-right: 16px;
      }

      &:hover {
          background-color: rgba(47, 53, 47, 0.385);
      }
  }
}


.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 1000px;
  margin-top: 32px;
}



.warning-input {
  width: 100%; 
  color: red;
}


.message {
  text-align: center;
}



@media (max-width: 750px) {
  .router-container {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0px;
   }
}


